# Build
build/
cmake-build-*/
out/

# IDE
.vscode/
.idea/
*.user
*.pro.user*
CMakeUserPresets.json

# Compiled
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
*.a

# Qt
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

# Dependencies (fetched by CMake)
_deps/
